@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}


/* button css */
.primary_btn{
  padding: 18px 10px;
  color: white;
  min-width: 220px;
  border-radius: 5px;
  background-color: black;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
}

.top_btn{
  display: flex;
  gap: 32px;
}

.outline_btn{
  padding: 18px 10px;
  color: white;
  border: 1px solid black;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
}